/* Global */

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background: #000;
}

img {
  margin: 0 auto;
  padding: 0;
  border: none;
  display: block;
}


/* Contact Sticky Btn for Desktop */
#contact-sticky-btn-desktop {
  display: block;
  position: fixed;
  left: 0;
  top: 380px;
  background: url("../images/contact-sticky-btn-for-desktop.png");
  width: 74px;
  height: 225px;
  text-indent: -9999px;
}


/* Services Tablet & Mobile Phone */
#services-tablet-mobile-phone {
  background: url("../images/bg-services-tablet-mobile-phone.png") repeat-x top center;
}