/* Global */

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

img {
  margin: 0 auto;
  padding: 0;
  border: none;
  display: block;
}

/* Desktop */
#desktop img {
  width: 1170px;
}

/* Home Desktop */
#home-desktop {
  background: url("../images/bg-home-desktop.png") repeat-x top center;
}

/* Services Desktop */
#services-desktop {
  background: url("../images/bg-services-desktop.png") repeat-x top center;
}


